body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: wheat;
}

header {
  display: flex;
  min-height: 70px;
  background-color: #080808;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  color: wheat;
}

nav a {
  font-weight: 600;
  margin-right: 20px;
}

nav a:hover {
  color: black;
  font-size: 1.5em;
  transition: all 0.3s ease;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
  }

  nav {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.carousel {
  background-color: black;
}

.carousel-inner {
  width: 100%;
  height: 500px;
}

.carousel-item {
  width: 100%;
  height: 100%;
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.video-container {
  background-color: #080808;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.texto-video {
  color: wheat;
  margin-bottom: 20px;
}

.video {
  width: 80%; /* Aumenta el tamaño del video */
  max-width: 1200px; /* Establece un máximo para pantallas más grandes */
  height: 500px; /* Ajusta la altura del video */
  background-color: rgb(247, 246, 246);
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto; /* Centrar horizontalmente */
}

.video iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 767px) {
  .video {
    width: 100%; /* Full width on small screens */
    height: auto; /* Automatic height adjustment */
    margin: 0 auto;
  }

  .video-container {
    padding: 20px;
    height: auto;
  }

  .texto-video {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .video {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .video-container {
    padding: 30px;
  }

  .texto-video {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .video {
    width: 80%;
    height: 500px;
    margin: 0 auto;
  }

  .video-container {
    padding: 40px;
  }

  .texto-video {
    font-size: 18px;
  }
}

footer {
  display: flex;
  min-height: 70px;
  background-color: #1a1919;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  clear: both;
}

.logo-f {
  display: flex;
  align-items: center;
}
.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
}
.card img {
  max-width: 100%;
  height: auto;
}
